    body{
        background-image: linear-gradient(to right, rgb(63, 124, 216), rgb(69, 15, 219));
    }
    h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(179, 140, 140, 0.6);
    padding: 15px;
    border-radius: 15px;
    }
    a{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
